.root {
-fx-base: rgb(50, 50, 50);
-fx-background: rgb(50, 50, 50);
-fx-control-inner-background:  rgb(50, 50, 50);
}
 
.tab {
-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}
 
.menu-bar {
-fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30%));
}
 
.tool-bar:horizontal {
-fx-background-color:
linear-gradient(to bottom, derive(-fx-base,+50%), derive(-fx-base,-40%), derive(-fx-base,-20%));
}
.menu-bar{
	-fx-border-color: red ;
}
.menu-button:hover{
	-fx-border-color: orange ;
}

.tab-pane:focused{
	-fx-border-color: lightblue   ;
}

.button {
-fx-background-color: transparent;
-fx-border-color: lightblue ;
}
 
.button:hover {
-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
-fx-color: -fx-hover-base;
}

 
.split-pane:horizontal > * > .split-pane-divider {
-fx-border-color: transparent -fx-base transparent -fx-base;
-fx-background-color: transparent, derive(-fx-base,20%);
-fx-background-insets: 0, 0 1 0 1;
-fx-border-color:  orange; 
}
 
.gridpane {
-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}

.gridPaneElec:focused{
 
    -fx-border-color: orange ;
}

.gridPaneElec{
	-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}

gridAnchor:focused{
	-fx-border-color: orange ;
}
 
.separator-label {
	-fx-text-fill: orange;
}
.table-view{
    -fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30%));
   
}

.table-view:focused{
    -fx-background-color: orange ;
    -fx-border-color: lightblue ;
}
.text-field{
	-fx-border-color: orange ;
	-fx-border-width: 1px;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}
.text-field:focus{
	-fx-border-color: transparent;
}
.label{
	-fx-font-size: 15.0px  ;
}